/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
.rubocop-https---www-goodcop-style-base-yml
.rubocop-https---www-goodcop-style-tabs-yml
sqlite-go-parser/ast.go
sqlite-go-parser/ast_test.go
sqlite-go-parser/go.mod
sqlite-go-parser/go.sum
sqlite-go-parser/parser.go
sqlite-go-parser/parser_test.go
sqlite-go-parser/rewriter.go
sqlite-go-parser/rewriter_test.go
sqlite-go-parser/scanner.go
sqlite-go-parser/scanner_test.go
sqlite-go-parser/token.go
sqlite-go-parser/token_test.go
sqlite-go-parser/walk.go
